#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}



.project-title {
    margin-top: 0;
    font-size: 1.3rem;
}

.project-description {
    color: #555;
    font-size: 0.9rem;
}

.project-link {
    display: inline-block;
    margin-top: auto;
    text-decoration: none;
    background: #2e8670;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
}

.project-link:hover {
    background: #333;
}